<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1"
	id="sailcom-proxy"
>

	<display-name>Sailcom Proxy Server</display-name>

	<context-param>
		<param-name>resteasy.injector.factory</param-name>
		<param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>
	</context-param>

</web-app>
